---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsBlogTag } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Posts by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};

// TODO: Fix this
let headerLine = tag === 'non-technical' ? 'Life & Self Improvement' : `Tag: ${tag}`;

if (tag === 'technical') {
  headerLine = 'Software Engineering';
}
---

<Layout metadata={metadata}>
  <section class="mx-auto max-w-4xl px-4 py-12 sm:py-16 md:px-6 lg:py-20">
    <Headline>{headerLine}</Headline>
    {
      tag === 'non-technical' && (
        <p>
          The TLDR of all these articles is this:
          <ul class="list m-2">
            <li class="m-2"> ● Be healthy. Health is most important.</li>
            <li class="m-2">
              {' '}
              ● Develop and rely on good habits and core values. They provide good default fallbacks.
            </li>
          </ul>
          <br />
          <h2 class="mb-4 text-2xl font-bold">All Articles: </h2>
        </p>
      )
    }
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
